html {
  width: 100%;
  height: 100%;
}

body {
  align-items: center;
  background-color: #ede7d5;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}
